body {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.day {
  fill: #eee;
  stroke: #fff;
  stroke-width: 2px;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

.RdYlGn .q0-5{fill:#dae289}
.RdYlGn .q1-5{fill:#9cc069}
.RdYlGn .q2-5{fill:#669d45}
.RdYlGn .q3-5{fill:#637939}
.RdYlGn .q4-5{fill:#3b6427}
